/*
body {

font: 100% Arial, Helvetica, sans-serif;
margin-bottom: 50px;
text-shadow: 0px 1px 0px #fff;
background: url('bg.jpg') repeat-x;
font-weight: bold; color: #333; font-family: Candara, "Helvetica Neue", Arial, sans-serif;  

}*/

body{ padding-top: 30px; -webkit-text-size-adjust:none; font-family: Helvetica, Arial, sans-serif; 
	text-shadow: 0px 1px 0px #fff;
	/*	background-image: url(bg.jpg); */




	background:#DFE4EA; 
	background:#DFE4EA url('body_bg.png') ;




	background-repeat:no-repeat;
	background-position:center top;
/*	background:#DFE4EA url('bg_paper.jpg') ;*/
}



a, a:visited {
	color: #000;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
}

a:hover {
	border-bottom: 1px dotted #fff;
}





#my_book{margin-top:20px;}

#my_book input{
	font-size:20px;

}


#my_book input[type="file"]{
/*height:40px;
width:700px;*/
font-size:20px;

}


#my_email{margin-top:20px;}
#my_email input{
	font-size:20px;
}



#i_want_to_read{margin-top:30px;float:left;}
#i_want_to_read select{}



#pages_every{margin-top:30px;float:left;}
#pages_every select{}




#info{display:none;}



img {border:0px;}


#quotes li{
	width: 550px;
	margin: 0px auto;
	text-align:center;
	list-style:none;
	font:14px/20px "lucida grande",Helvetica, sans-serif; 
	}



	#container {
		margin: 0 25%;
		margin-top:20px;
		padding:20px;
		padding-left:50px;
		
		width: 550px;
		margin: 20px auto;
		background-image:url(trans.png);
		border: 4px solid white;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		padding: 20px;	
		padding-left:70px;

		-moz-box-shadow: 0px 0px 2px #2F2F2F; 
		-webkit-box-shadow: 0px 0px 2px #2F2F2F; 
		box-shadow: 0px 0px 2px #2F2F2F;
	/*	background:#DFE4EA url('bg_paper.jpg') ;*/
	
	
/*	background:#DFE4EA url('bg_paper.jpg') ;
	background:#DFE4EA url('http://www.weareempire.co.uk/images/body-bg.jpg') ;
	
*/
 


/*background:url('bg_banner.png') ;
background-repeat:no-repeat;
background-position:center bottom;*/



	}

	#logo {text-align:center;}




#help{
	float:right;
	margin-right:-10px;
	padding-bottom:10px;}


	#submit_bnt{


		display:block;
		line-height:38px;
		background:#e6eaed;
		border:1px solid #babfc2;
		text-decoration:none;
		color:#646668;
		text-shadow:0 1px 0 #fff;
		-webkit-border-radius: 20px;
		-moz-border-radius:  20px;
		border-radius: 20px;
		background: -webkit-gradient(linear, 0 bottom, 0 top, from(#e0e6ea ), to(#eceff2));
		background: -moz-linear-gradient(-90deg, #eceff2, #e0e6ea ) ;
		-webkit-box-shadow:  inset 0  1px 0 #fff; 
		-moz-box-shadow:  inset 0  1px 0 #fff;
		box-shadow: inset 0  1px 0 #fff;
		clear:both;
		margin-top:20px;
		font-size:20px;
		margin-top:50px;
		width:300px;


	}



#loader{
width:250px;

margin-top:50px;
padding:10px;

/*background:white;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;


text-align:center;
-moz-box-shadow: 0px 0px 2px #2F2F2F; 
-webkit-box-shadow: 0px 0px 2px #2F2F2F; 
*/


/*display:none;*/}




/*#footer{
background: white url('bg_banner.png');	
width:100%;
height:60px;
text-align:center;
}*/
